<nav class="nav">
    <h1><a routerLink="/">E-Shop</a></h1>
    <!-- <div *ngIf="menutype==='default'" class="nav-search"> -->
    <div class="nav-search">
        <input type="text" placeholder="Search for products">
        <button>Search</button>
    </div>
    <div [ngSwitch]="menutype">
        <ul *ngSwitchCase="'seller'">
            <li *ngIf="sellerLogined"><a routerLink="/">Home</a></li>
            <li *ngIf="sellerLogined"><a routerLink="/products"> Products</a></li>
            <li *ngIf="sellerLogined"><a routerLink="/add-products">Add Products</a></li>
            <li *ngIf="sellerLogined"><a href="#">{{sellerName}}</a></li> <!--after login need to display -->
            <li *ngIf="sellerLogined"><a (click)="logout()">Logout</a></li> <!--after login need to display -->
        </ul>
        <ul *ngSwitchCase="'user'">
            <li *ngIf="userLogined"><a routerLink="/">Home</a></li>
            <li><a routerLink="/"> Cart(0)</a></li>
            <li *ngIf="userLogined"><a href="/user_details">{{userName}}</a></li> <!-- after login need to display -->
            <li *ngIf="userLogined"><a (click)="logout()">Logout</a></li> <!-- after login need to display -->
        </ul>
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/user-login">User</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
        </ul>
    </div>
</nav>