<div class="update-products">
    <h3>Fill Products details</h3>
    <form class="common-form" #inputProductDetails="ngForm" (ngSubmit)="updateProducts(inputProductDetails.value)">
        <input class="form-input" ngModel="{{productData?.name}}" type="text" name="name"
            placeholder="Enter products name">
        <input class="form-input" ngModel="{{productData?.price}}" type="text" name="price"
            placeholder="Enter product price">
        <input class="form-input" ngModel="{{productData?.color}}" type="text" name="color"
            placeholder="Enter product color">
        <input class="form-input" ngModel="{{productData?.category}}" type="text" name="category"
            placeholder="Enter product category">
        <textarea class="form-input" ngModel="{{productData?.description}}" name="description"
            placeholder="Enter product description"></textarea>
        <input class="form-input" ngModel="{{productData?.image}}" type="text" name="image"
            placeholder="Enter image url">
        <button class="form-button">update</button>
    </form>
</div>