<div class="user-Auth">
  <div *ngIf="!userloginSignupCondition" class="user-signup">
    <h1>User Sign up</h1>
    <p *ngIf="usersignedupdisplay">{{usersigned}}</p>
    <form
      class="common-form"
      #user_signup_data="ngForm"
      (ngSubmit)="userSignUp(user_signup_data.value)"
    >
      <input
        class="form-input" required #name="ngModel"
        type="text"
        placeholder="Enter your name"
        name="name"
        ngModel
      />
      <input
        class="form-input" required #age="ngModel"
        type="text"
        placeholder="Enter you age"
        name="age"
        ngModel
      />
      <input
        class="form-input" required #emailid="ngModel"
        type="text"
        placeholder="Enter email"
        name="email"
        ngModel
      />
      <input
        class="form-input" required #pass="ngModel"
        type="password"
        name="password"
        placeholder="enter password"
        ngModel
      />
      <button [disabled]="user_signup_data.invalid" class="form-button">Submit</button>
      <a class="auth-toggle-link" (click)="openuserlogin()">I have Account</a>
    </form>
  </div>
</div>

<div class="user-Auth">
  <div *ngIf="userloginSignupCondition" class="user-login">
    <h1>User Login</h1>
    <form
      class="common-form"
      #user_login_data="ngForm"
      (ngSubmit)="userlogin(user_login_data.value)"
    >
      <input
        type="text" required email
        #emailid="ngModel"
        placeholder="Enter email"
        name="email"
        ngModel
        class="form-input"
      />
      <!-- <br> -->
      <span *ngIf="emailid.invalid && emailid.touched ">Enter valid Email id</span>
      <!-- <br> -->
      <input
        type="password" required
        #pass="ngModel"
        placeholder="Enter Password"
        name="password"
        class="form-input"
        ngModel
      />
      <button [disabled]="user_login_data.invalid" class="form-button">LogIN</button>
      <span *ngIf="invalidCredential">Please enter valid credential</span>
      <a class="auth-toggle-link" (click)="openusersignup()"
        >I don't have Account</a
      >
    </form>
  </div>
</div>
