.user-signup{
    margin-top: 70px;
}

.user-signup h1{
    text-align: center;
    color: aqua;
}
.auth-toggle-link{
    margin-top: 20px;
    cursor: pointer;
}
.user-Auth{
    margin-top: 70px;
}

.user-Auth h1{
    text-align: center;
    color: aqua;
}