<div class="seller-add-product">
  <div class="sign-up">
    <h1>Products Details</h1>
    <h4>{{addproductsmessage}}</h4> <!-- //2-->
    <form
      #productDetails="ngForm"
      (ngSubmit)="productStore(productDetails.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Products name"
        name="name"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Products prize"
        name="price"
      />

      <input
        type="text"
        class="form-input"
        placeholder="Product Category"
        name="category"
        ngModel
      />

      <input
        type="text"
        ngModel
        placeholder="Product code"
        name="code"
        class="form-input"
      />

      <input
        type="text"
        ngModel
        placeholder="Product image url"
        name="image"
        class="form-input"
      />

      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Product Description"
        name="description"
      />
      <button class="form-button">Add Products</button>
      <!-- <h1 *ngIf="productAdded">{{addproductsmessage}}</h1>  //1 -->
    </form>
  </div>
</div>
