
.product-list{
    text-align: center;
}
table{
    text-align: center;
    color: blueviolet;
    border-collapse: collapse;
    /* margin-left: 360px; */
    
    
}
table td,table th{
    border: 1px solid;
    padding: 10px;
    
}

img{
    width: 100px;
    height: 100px;
}