.sign-up  {
    text-align: center;
    color: skyblue;
    margin-top: 80px;
    margin-bottom: 50px;
    cursor: pointer;
}
.login {
    text-align: center;
    color: skyblue;
    margin-top: 80px;
    margin-bottom: 50px;
    cursor: pointer;
}
.auth-toggle-link{
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
    color: black;
}