<div class="seler-auth">
  <div *ngIf="!showLogin" class="sign-up">
    <h1>Seller Sign up page</h1>
    <form
      #sellerForm="ngForm"
      (ngSubmit)="signUp(sellerForm.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="name"
        name="name"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Email"
        name="email"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Password"
        name="password"
      />
      <button class="form-button">signup</button>
      <a class="auth-toggle-link" (click)="openLogin()">I have seller Account click here</a>
    </form>
  </div>
</div>

<!-- Login page -->

<div class="seler-auth">
  <div *ngIf="showLogin" class="login">
    <h1>Seller log in page</h1>
    <form
      #sellerlogin="ngForm"
      (ngSubmit)="login(sellerlogin.value)"
      class="common-form"
    >
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Email"
        name="email"
      />
      <input
        class="form-input"
        type="text"
        ngModel
        placeholder="Password"
        name="password"
      />
      <button class="form-button">Log In</button>
      <a class="auth-toggle-link" (click)="opensignup()">I don't have seller Account click here</a>
    </form>
  </div>
</div>
