<div>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>add to cart</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of product" >
                <td>{{item.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.name}}</td>
                <td>{{item.name}}</td>
            </tr>
        </tbody>
    </table>
</div>