<div class="products-list">
    <h3>Products list</h3>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>category</th>
                <th>Description</th>
                <th>Action</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of fakeproduct">
                <td><img src="{{item.image}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>{{item.color}}</td>
                <td>{{item.category}}</td>
                <td>{{item.description}}</td>
                <td><button (click)="deleteproducts(item._id)">Delete</button></td> 
                <!--implement delete icon by font-awesome-->
                <td><button routerLink="/seller-update-products/{{item._id}}">Edit</button></td>
            </tr>
        </tbody>
    </table>
</div>