<div class="home-container">
    <ngb-carousel *ngIf="popularProducts">
        <ng-template *ngFor="let item of popularProducts" ngbSlide>
            <div class="picsum-img-wrapper">
                <img class="product-header-image" src="{{item.image}}" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h2>{{item.name}}</h2>
                <h3>Price : {{item.price}}</h3>
                <p>{{item.description}}</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="product-wrapper">
        <p>Product List</p>
        <div class="row">
            <div class="col-sm-3" *ngFor="let item of allproducts">
                <div class="product-item">
                    <img src="{{item.image}}" alt="">
                    <div class="product-details">
                        <div class="product-head">
                            <h6>{{item.name}}</h6>
                        </div>
                        <div class="product-price">
                            <h6>Price : 80000</h6>
                        </div>
                        <div class="product-color">
                            <h6>color : black</h6>
                        </div>
                    </div>
                    <div class="product-footer">
                        <a routerLink="product-details/{{item.id}}">View Details</a>
                        <a href="">Add cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>