.product-header-image{
    object-fit: contain;
    width: 150%;
    height: 600px;
}

.product-list-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}
.product-item{
    margin-bottom: 40px;
    border: 2px solid #ddd;
    margin-right: 25px;
}
.product-item img{
    width: 127px;
    /* height: 300px; */
    object-fit: contain;
}
.product-item .Products-details{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.product-item .name head{
    text-align: center;
    font-weight: 100;
}

.product-item .Products-details h6{
    text-align: center;
}
.product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
